<footer class="footer">
</footer>
<div class="darken"></div>
<!-- Modal -->
<div class="modal fade modal_user_login" id="modal_user_login" tabindex="-1" role="dialog"
     aria-labelledby="modal_user_loginLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="h3">Гость</div>

      <a href="#" class="btn btn_grean" data-toggle="modal" data-target="#modal_user_loggedin">Авторизация</a>
      <a href="#" class="btn btn_border_green">Регистрация</a>

      </form>
    </div>
  </div>
</div>
<div class="modal -fadeIn" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="modalMenuLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="./img/svg/close2.svg" alt="mydance"></span>
        </button>
        <div class="row modalMenu-text">
          <div class="col-lg-4">
            <div class="h2">Меню</div>
            <ul class="user-info">
              <li>
                <div class="h4">Иванова Маша</div>
                <p>@i.masha</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="h5">Поиск:</div>
            <form action="" class="form">
              <ul class="result">
                <li>
                  <ul class="result-in">
                    <li><a href="#">Танцевальные школы</a></li>
                    <li><a href="#">Педагогы-хореографы</a></li>
                    <li><a href="#">Онлайн курсов</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Танцевальные проекты</a></li>
                    <li><a href="#">Шоу-балеты</a></li>
                    <li><a href="#">Мастер-классы</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="result-in">
                    <li><a href="#">Афиша мероприятий</a></li>
                    <li><a href="#">Dance Hunter</a></li>
                    <li><a href="#">Аренда залов</a></li>
                    <li><a href="#">Организация видеосъемки</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="result-in">
                    <li><a href="#">Рейтинг ТШ и ПХ</a></li>
                    <li><a href="#">Новости танцевального мира</a></li>
                    <li><a href="#">Видео от лучших хореографов</a></li>
                    <li><a href="#">Подборка фильмов о танцах</a></li>
                  </ul>
                </li>

              </ul>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="js/main.min.js"></script>