</head>
<body>
<header class="header">
  <div class="container">
    <div class="flex">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="img/svg/logo.svg" alt="">
        </a>

      </div>

      <div class="menu-wrapp" id="menuModal">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Events & Circles</a></li>
          <li><a href="#">Following</a></li>
          <li><a href="#">How it Works</a></li>
        </ul>
        <div class="create">
          <a href="javascript:void(0);" onclick="$('.create-list').slideToggle();">Create</a>
          <ul class="create-list" style="display: block">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
        <div class="smile">
          <a href="#">
            <svg width="106" height="106" aria-hidden="true" class="svg-smile">
              <use xlink:href="#icon-smile"></use>
            </svg>
          </a>
        </div>
      </div>
      <button class="header__burger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!--        <svg width="32" height="21" aria-hidden="true">-->
        <!--          <use xlink:href="#icon-burger" class="burger"></use>-->
        <!--          <use xlink:href="#icon-burger-active" class="burger-active"></use>-->
        <!--        </svg>-->
      </button>
    </div>
  </div>
</header>