</head>
<body>
<header class="header">
  <div class="container">
    <div class="flex">
      <a href="/" class="logo">
        <img src="img/svg/logo.svg" alt="">
      </a>
      <form action="" class="form-search">
        <button>
          <img src="img/svg/search.svg" alt="">
        </button>

        <input type="text" placeholder="Search..." class="search-input-placeholder-js">
      </form>
      <div class="menu-wrapp " id="menuModal">
        <ul class="menu-left">
          <li class="active"><a href="#">Explore</a></li>
          <li><a href="#">My Items</a></li>
          <li><a href="#">Following</a></li>
          <li><a href="#">Activity</a></li>
        </ul>
        <ul class="menu-right">
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Community</a></li>
          <li class="create"><a href="#">Create</a></li>
          <li class="smile">
            <a href="#">
              <svg width="106" height="106" aria-hidden="true">
                <use xlink:href="#icon-smile"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="header__burger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!--        <svg width="32" height="21" aria-hidden="true">-->
        <!--          <use xlink:href="#icon-burger" class="burger"></use>-->
        <!--          <use xlink:href="#icon-burger-active" class="burger-active"></use>-->
        <!--        </svg>-->
      </button>
    </div>
  </div>
</header>