</head>
<body>
<header class="header">
  <div class="container">
    <div class="flex">
      <div class="header-left">
        <a href="/" class="logo">
          <img src="img/svg/logo.svg" alt="">
        </a>
        <form action="" class="form-search">
          <button>
            <img src="img/svg/search.svg" alt="">
          </button>
          <input type="text" placeholder="Search..." class="search-input-placeholder-js">
        </form>
      </div>

      <div class="menu-wrapp" id="menuModal">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Events & Circles</a></li>
          <li><a href="#">Following</a></li>
          <li class="works"><a href="#">How it Works</a></li>
        </ul>
        <div class="create">
          <a href="javascript:void(0);" onclick="$('.create-list').slideToggle();">Create</a>
          <ul class="create-list">
            <li><a href="#">
              <span class="icon">
                  <svg width="26" height="26" aria-hidden="true" class="svg-smile">
                    <use xlink:href="#icon-login"></use>
                  </svg>
                </span>
              <span class="text">Log in</span>
            </a></li>
            <li><a href="#">
              <span class="icon">
                  <svg width="27" height="27" aria-hidden="true" class="svg-signup">
                    <use xlink:href="#icon-signup"></use>
                  </svg>
                </span>
              <span class="text">Sign Up</span>
            </a></li>
          </ul>
        </div>
        <div class="smile">
          <a href="#" onclick="$('.smile-drop-down').toggleClass('active')" class="smile-link">
            <svg width="106" height="106" aria-hidden="true" class="svg-smile">
              <use xlink:href="#icon-smile-green"></use>
            </svg>
          </a>
          <ul class="smile-drop-down">
            <li>
              <a href="#" class="link">
                <span class="icon">
                  <svg width="53" height="53" aria-hidden="true" class="svg-smile">
                    <use xlink:href="#icon-smile"></use>
                  </svg>
                </span>
                <span class="text">Jane Doe</span>
              </a>
            </li>
            <li>
              <a href="#" class="link">
                <span class="icon">
                  <svg width="53" height="53" aria-hidden="true" class="svg-smile">
                    <use xlink:href="#icon-chery"></use>
                  </svg>
                </span>
                <span class="text">Circle</span>
              </a>
            </li>
            <li>
              <a href="#" class="link">
                <span class="icon">
                  <svg width="53" height="53" aria-hidden="true" class="svg-smile">
                    <use xlink:href="#icon-logout"></use>
                  </svg>
                </span>
                <span class="text">Log Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="header__burger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!--        <svg width="32" height="21" aria-hidden="true">-->
        <!--          <use xlink:href="#icon-burger" class="burger"></use>-->
        <!--          <use xlink:href="#icon-burger-active" class="burger-active"></use>-->
        <!--        </svg>-->
      </button>
    </div>
  </div>
</header>